*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 80px 1fr 60px;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
}

.header {
    grid-area: header;
    background: #4CAF50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    grid-area: sidebar;
    background: #2196F3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    grid-area: content;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    grid-area: footer;
    background: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin: 10px;
}
.logo{
    background-color: blue;
    width: 25px;
    height: 25px;
}
ul{
    display: flex;
    gap: 20px;
}

.content .features1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}
.card1{
    flex-basis: 1;
    background-color: aqua;
    width: 300px;
    height: 400px;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
}

@media screen and (max-width: 425px) {
    .card1 {
        min-height: 200px;
        min-width:100px ;
    }
    .container{
        grid-template-columns: 100px 1fr;
    }
}